<div class="absolute flex flex-col items-start justify-center h-full {{ heroSettings.headingTextColor or 'text-white' }} {{ structure.g_pageWidth }}">
  <div class="text-4xl font-semibold leading-tight {{ heroSettings.headingTextCase }} md:text-6xl">
    {{ heroSettings.headingText | safe  }}
  </div>
  <div class="pt-4 pr-12 text-lg font-light md:text-2xl lg:text-3xl {{ heroSettings.subheadingTextColor }}">
    {{ heroSettings.subheadingText | safe }}
  </div>
  {% if heroSettings.buttonText %}
    <div class="w-full mt-12 ">
      <a href="{{ heroSettings.buttonURL }}" class="p-4 rounded-lg {{ heroSettings.buttonTextColor or colors.buttonCustom.text or colors.buttonDefault.text }} {{ heroSettings.buttonBgColor or colors.buttonCustom.bg or colors.buttonDefault.bg }} hover:{{ colors.buttonCustom.textHover or colors.buttonDefault.textHover }} hover:{{ heroSettings.buttonBgHover or colors.buttonCustom.bgHover or colors.buttonDefault.bgHover }} {{ heroSettings.buttonBorder or colors.buttonCustom.border or colors.buttonDefault.border }}">{{ heroSettings.buttonText }}</a>
    </div>
  {% endif %}

  {% if heroSettings.quicklinks %}

      <div class="w-full max-w-5xl grid grid-cols-1 lg:grid-cols-2 gap-4 my-8 px-4 lg:mx-0">
        {% for item in heroSettings.quicklinks %}
            <a href="{{item.url}}" class="p-5 border rounded border-gray-200 hover:bg-blue-600">
                <h3 class="text-gray-100">{{item.title}}
                    →</h3>
                <p class="text-lg">{{item.desc}}</p>
            </a>
        {% endfor %}
      </div>

  {% endif %}
  
</div>